/* mixins */
/* Common settings */
#scene-1 {
  z-index: 10; }

#scene-2 {
  z-index: 20; }

#scene-3 {
  z-index: 30; }

#scene-4 {
  z-index: 40; }

#scene-5 {
  z-index: 50; }

#scene-6 {
  z-index: 60; }

#scene-7 {
  z-index: 70; }

#scene-8 {
  z-index: 80; }

#scene-9 {
  z-index: 90; }

#scene-10 {
  z-index: 100; }

#scene-11 {
  z-index: 110; }

#scene-12 {
  z-index: 120; }

#scene-13 {
  z-index: 130; }

#scene-14 {
  z-index: 140; }

#scene-15 {
  z-index: 150; }

#scene-16 {
  z-index: 160; }

#scene-17 {
  z-index: 170; }

#scene-18 {
  z-index: 180; }

#scene-19 {
  z-index: 190; }

#scene-20 {
  z-index: 200; }

#scene-21 {
  z-index: 210; }

#scene-22 {
  z-index: 220; }

#scene-23 {
  z-index: 230; }

#scene-24 {
  z-index: 240; }

#scene-25 {
  z-index: 250; }

#scene-26 {
  z-index: 260; }

#scene-27 {
  z-index: 270; }

#scene-28 {
  z-index: 280; }

#scene-29 {
  z-index: 290; }

#scene-30 {
  z-index: 300; }

.hide {
  opacity: 0; }

.display {
  opacity: 1; }

.close {
  display: none; }

.open {
  display: block; }

.center {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto auto; }

.origin {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.rot-10 {
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg); }

.z-top {
  z-index: 999; }

.y30 {
  -moz-transform: translate3d(0, 30px, 0);
  -o-transform: translate3d(0, 30px, 0);
  -ms-transform: translate3d(0, 30px, 0);
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0); }

.wait,
.active {
  display: block; }

.anime-short {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.scale-3 {
  -moz-transform: scale(0.33, 0.33);
  -o-transform: scale(0.33, 0.33);
  -ms-transform: scale(0.33, 0.33);
  -webkit-transform: scale(0.33, 0.33);
  transform: scale(0.33, 0.33); }

.full-y {
  top: 0px;
  bottom: 0px; }

.hidden {
  display: none; }

/* Copied from demo.css */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

html, body {
  width: 100%;
  height: 100%; }

@font-face {
  font-family: Hiragino;
  src: url("../resource/SansGBW3_min.ttf") format("truetype"); }
.opening {
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0px;
  background-color: #000;
  opacity: 1;
  position: absolute;
  z-index: 3000;
  color: #FFF;
  font-size: 4em;
  text-align: center;
  overflow: hidden;
  line-height: 576px; }

.mask {
  width: 100%;
  height: 10%;
  bottom: 0px;
  left: 0px;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  z-index: 3000;
  color: #FFF;
  font-size: 1em;
  line-height: 200%;
  text-align: center;
  overflow: hidden; }

.btn {
  position: absolute;
  width: 90px;
  height: 90px;
  border: 1px solid #000;
  display: inline-block;
  font-size: 1.5em;
  text-align: center; }

.mute-btn {
  right: 10px; }

.auto-btn {
  margin: auto;
  left: 0;
  right: 0;
  z-index: 1000; }

.next-btn {
  margin-left: 92px; }

.start-btn {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #F00;
  width: 150px;
  height: 80px; }

.container {
  position: absolute;
  left: 50%;
  width: 1024px;
  height: 576px;
  margin: 0px;
  border: 1px solid #000;
  overflow: hidden;
  font-family: Georgia-Italic,Georgia,Hiragino,SimHei; }

audio {
  display: none; }

.scene {
  position: absolute;
  left: 0;
  right: 0;
  width: 1024px;
  height: 576px;
  border: 1px solid #F00;
  overflow: hidden;
  background: #8d6e63;
  border: 1px solid #F00; }

.shade {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0; }

/* scene1 */
.places {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 1152px; }

.building-ctn {
  position: relative;
  height: 576px; }

.bridge-ctn .down {
  background-color: #bdbdbd; }

.gate-ctn .up {
  background-color: #D7CCC8; }

.gate-ctn .down {
  background: #D7CCC8; }

.up {
  position: absolute;
  background-color: #bdbdbd;
  top: 0;
  height: 230.4px;
  width: 1024px; }

.down {
  position: absolute;
  bottom: 0;
  height: 345.6px;
  width: 1024px; }

.year {
  position: absolute;
  left: 34.56px;
  top: 34.56px;
  height: 69.12px; }

.building {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 45%;
  -moz-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0); }

.building img {
  max-width: 100%; }

.marco {
  width: 103.68px;
  height: 155.52px;
  background: url("../resource/marco1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.down .marco.shadow {
  top: -5%; }

.marco.shadow {
  background: url("../resource/marco1_shadow.png");
  background-size: 100% 100%; }

.marco.tourist {
  background: url("../resource/marco2.png");
  background-size: 100% 100%; }

.marco.tourist.shadow {
  background: url("../resource/marco2_shadow.png");
  background-size: 100% 100%; }

.boat {
  position: absolute;
  width: 311.04px;
  height: 155.52px;
  background: url("../resource/boat.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 121; }

.boat.shadow {
  background: url("../resource/boat_shadow.png");
  background-size: 100% 100%; }

.oar {
  width: 60%;
  height: 90%;
  margin: auto;
  background: url("../resource/oar.png");
  background-size: 100% 100%; }

.marco.scene-top {
  position: absolute;
  top: -18%; }

.boat.scene-top {
  top: -15%; }

/**
 * scene2 
 */
#scene2 {
  background: #795548; }

.shade-scene2 {
  width: 100%;
  height: 100%;
  background: #795548; }

.ditch {
  position: absolute;
  top: 75%;
  left: 37%;
  width: 155.52px;
  height: 38.88px;
  background: url("../resource/ditch.png");
  background-size: 100% 100%;
  opacity: 0;
  z-index: 122; }

.papermans {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #795548;
  overflow: hidden; }

.papermans:after {
  clear: both; }

.paperman {
  width: 103.68px;
  height: 155.52px;
  margin: 0px 0px;
  float: left;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -webikit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear; }

.greyman {
  background: url("../resource/paperman.png");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.paperman-line {
  position: relative;
  left: -25.92px;
  top: 103.68px;
  height: 155.52px;
  width: 120%;
  margin-top: -77.76px;
  overflow: hidden; }

.l1 {
  position: relative;
  left: 25.92px; }

.half {
  position: absolute;
  top: 0px;
  width: 50%;
  height: 100%; }

.subway {
  position: absolute;
  left: -512px;
  top: -345.6px;
  font-style: italic;
  z-index: 140; }

.subway-up {
  position: relative;
  height: 403.2px;
  width: 100%;
  background: white; }

.subway-text-ctn {
  position: relative;
  width: 1740.8px;
  height: 288px;
  margin: auto;
  color: #795548;
  font-size: 80;
  text-align: center; }

.subway-year {
  position: absolute;
  bottom: 57.6px;
  font-size: 160; }

.subway-popu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 57.6px; }

.subway-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 5.76px; }

.subway-head {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 115.2px;
  background: #eee;
  border-top: solid 10px #aaa;
  border-bottom: solid 10px #aaa; }

.subway-down {
  position: relative;
  height: 748.8px;
  width: 2048px; }

.subway-left {
  position: absolute;
  left: 0;
  width: 512px;
  height: 898.56px;
  background: url("../resource/subwayl.png");
  background-size: 100% 110%; }

.subway-right {
  position: absolute;
  right: 0;
  width: 512px;
  height: 898.56px;
  background: url("../resource/subwayr.png");
  background-size: 100% 110%; }

.subway-shadow {
  width: 561.152px;
  height: 1041.13152px;
  margin: -26.35776px -24.576px;
  background: url("../resource/subway_shadow.png");
  background-size: 100% 100%;
  background-position: center; }

.subway-block {
  position: absolute;
  width: 512px;
  height: 748.8px;
  background: url("../resource/subway.png");
  background-size: 100% 132%; }

.subway-block.left {
  left: 0; }

.subway-block.right {
  right: 0; }

#scene4 .marco, #scene5 .marco, #scene6 .marco {
  width: 207.36px;
  height: 311.04px; }
#scene4 .marco-ctn, #scene5 .marco-ctn, #scene6 .marco-ctn {
  position: relative;
  top: 40%; }
#scene4 .paperman, #scene5 .paperman, #scene6 .paperman {
  margin-left: -25.92px; }

/* scene5 */
.shade-youtube img {
  position: absolute;
  left: 10px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  height: 12%; }

.shade-youtube {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 150; }

.loading {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 220px;
  height: 220px; }

.ctn-browser {
  position: absolute;
  top: -172.8px;
  left: -409.6px;
  width: 2560px;
  height: 1440px;
  border: solid 1px #aaa; }

.ctn-browser-in {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.topbar {
  position: relative;
  top: 0;
  margin: auto auto;
  width: 100%;
  height: 115.2px; }

.youtubebar_l {
  position: absolute;
  left: 0;
  width: 164.57143px;
  height: 115.2px;
  background: url("../resource/youtubebar_l.png");
  background-size: 100% 100%; }

.youtubebar_m {
  margin: 0 164.57143px;
  height: 115.2px;
  background: url("../resource/youtubebar_m.png");
  background-size: 100% 100%; }

.youtubebar_r {
  position: absolute;
  right: 0;
  width: 164.57143px;
  height: 115.2px;
  background: url("../resource/youtubebar_r.png");
  background-size: 100% 100%; }

.tag {
  position: absolute;
  top: -138.24px;
  left: 460.8px;
  height: 138.24px;
  width: 311.04px;
  background: url("../resource/tag.png");
  background-size: 100% 100%; }

.browser {
  position: absolute;
  top: -57.6px;
  width: 1856px;
  height: 100%;
  margin: 0 379.6px;
  border-radius: 57.6px;
  overflow: hidden;
  background: #e0e0e0; }

.browser-content {
  position: absolute;
  left: 30px;
  right: 30px;
  top: 172.8px;
  bottom: 0;
  overflow: hidden; }

.browser-left {
  position: absolute;
  left: 0;
  top: 57.6px;
  width: 1024px;
  height: 100%;
  margin: auto auto;
  padding: 633.6px 0 0 0; }

.browser-right {
  position: absolute;
  left: 1084px;
  top: 57.6px;
  right: 0;
  height: 100%;
  margin: auto auto;
  opacity: 0;
  -moz-transform: translate3d(0, -20%, 0);
  -o-transform: translate3d(0, -20%, 0);
  -ms-transform: translate3d(0, -20%, 0);
  -webkit-transform: translate3d(0, -20%, 0);
  transform: translate3d(0, -20%, 0); }

.youtube {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 576px;
  margin: auto auto;
  overflow: hidden; }

.like-bar {
  position: relative;
  width: 100%;
  height: 172.8px;
  background: url("../resource/board_like.png");
  background-size: 100% 100%; }

.like {
  position: absolute;
  right: 30%;
  top: 40.32px;
  width: 92.16px;
  height: 92.16px;
  opacity: 0;
  background: url("../resource/like.png");
  background-size: 100% 100%; }

.like-text {
  position: relative;
  left: 86.4px;
  height: 172.8px;
  color: #26A69a;
  font-size: 100px; }

.dot {
  position: relative;
  left: 57.6px;
  float: left;
  width: 17.28px;
  height: 17.28px;
  margin: 77.76px 20.16px;
  border-radius: 50%;
  background: black; }

.comment-ctn {
  height: 28.8px;
  overflow: hidden; }

.comments {
  width: 1024px;
  padding: 115.2px 0;
  background: url("../resource/comment_list.png");
  background-size: 100% 100%; }

.comment {
  position: relative;
  height: 230.4px;
  width: 90%;
  margin: 10px auto; }

.comment-head {
  position: absolute;
  width: 172.8px;
  height: 172.8px;
  margin: 28.8px;
  background: url("../resource/comment_head.png");
  background-size: 100% 100%; }

.comment-content {
  position: relative;
  top: 28.8px;
  width: 614.4px;
  height: 115.2px;
  margin: 17.28px 17.28px 17.28px 201.6px;
  padding: 40.32px;
  border-radius: 17.28px;
  background: url("../resource/comment_bubble.png");
  background-size: 100% 100%; }

.comment .dash {
  height: 17.28px;
  width: 563.2px;
  margin: 17.28px 0; }

.ctn-video {
  position: absolute;
  height: 259.2px;
  width: 90%;
  margin: 0px auto; }

.ctn-video .video {
  position: absolute;
  width: 345.6px;
  height: 259.2px;
  background: url("../resource/board_video.png");
  background-size: 100% 100%;
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg); }

.video .img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 230.4px;
  height: 230.4px;
  margin: auto; }

.video .v0 {
  background: url("../resource/v0.png");
  background-size: 100% 100%; }

.video .v1 {
  background: url("../resource/v1.png");
  background-size: 100% 100%; }

.video .v2 {
  background: url("../resource/v2.png");
  background-size: 100% 100%; }

.dashes {
  height: 230.4px;
  margin: 0 0 0 334.08px;
  padding: 28.8px 0; }

.dash {
  height: 11.52px;
  background: #111;
  width: 0;
  margin: 28.8px 0; }

.page-ctn {
  position: absolute;
  left: 316.8px;
  top: 172.8px; }

.small-page {
  position: absolute;
  width: 345.6px;
  height: 230.4px;
  opacity: 0; }

.page0 {
  background: url("../resource/s6_google.png");
  background-size: 100% 100%; }

.page1 {
  background: url("../resource/s6_wheretogo.png");
  background-size: 100% 100%; }

.page2 {
  background: url("../resource/s6_booking.png");
  background-size: 100% 100%; }

.page3 {
  background: url("../resource/s6_findres.png");
  background-size: 100% 100%; }

.page4 {
  width: 518.4px;
  height: 345.6px;
  background: url("../resource/s6_air.png");
  background-size: 100% 100%; }

.body {
  position: relative;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%; }

#scene7 .comments-new, #scene8 .comments-new {
  background: #EFEBE9;
  position: absolute; }
#scene7 #browser, #scene8 #browser {
  overflow: visible; }
#scene7 .browser-content, #scene8 .browser-content {
  overflow: visible; }
#scene7 .profile-photo, #scene8 .profile-photo {
  background: url("../resource/profile.png");
  background-size: 100% 100%; }
#scene7 .worry-bubble, #scene8 .worry-bubble {
  position: absolute;
  width: 230.4px;
  height: 230.4px;
  background-size: 100% 100%; }
#scene7 .worry1, #scene8 .worry1 {
  background-image: url("../resource/worry1.png"); }
#scene7 .worry2, #scene8 .worry2 {
  background-image: url("../resource/worry2.png"); }
#scene7 .worry3, #scene8 .worry3 {
  background-image: url("../resource/worry3.png"); }
#scene7 .worry4, #scene8 .worry4 {
  background-image: url("../resource/worry4.png"); }
#scene7 .comment-ctn, #scene8 .comment-ctn {
  overflow: visible; }
#scene7 .comment-content, #scene8 .comment-content {
  font-size: 3.5em;
  text-align: center; }
  #scene7 .comment-content .worry-text, #scene8 .comment-content .worry-text {
    padding-top: 10px;
    position: absolute;
    width: 100%;
    height: 100%; }

#scene8 .bubble-disappear, #scene9 .bubble-disappear {
  position: absolute;
  width: 230.4px;
  height: 230.4px;
  background-image: url("../resource/bubble_disappear.png");
  background-size: 100% 100%; }
#scene8 .marco-shadow, #scene9 .marco-shadow {
  background: url("../resource/marco2_shadow.png");
  background-size: 100% 100%;
  background-size: 155.52px 233.28px;
  width: 155.52px;
  height: 233.28px;
  position: absolute;
  top: 310px;
  right: 170px;
  z-index: 400;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
#scene8 .marco-nomouth, #scene9 .marco-nomouth {
  background: url("../resource/marco_nomouth.png") no-repeat;
  position: absolute;
  background-size: 155.52px 233.28px;
  background-position: 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 100%;
  width: 100%; }
#scene8 #mouth, #scene9 #mouth {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 87.0912px auto; }
#scene8 .chinese, #scene9 .chinese {
  background: url("../resource/chinese.png");
  background-size: 100% 100%;
  position: absolute;
  width: 155.52px;
  height: 233.28px;
  position: absolute;
  z-index: 100; }
#scene8 .chinese-smile, #scene9 .chinese-smile {
  background-image: url("../resource/chinese_smile.png"); }
#scene8 .chinese:nth-child(1), #scene9 .chinese:nth-child(1) {
  right: 58px;
  bottom: 68px;
  opacity: 0; }
#scene8 .chinese:nth-child(2), #scene9 .chinese:nth-child(2) {
  right: 108px;
  bottom: 85px;
  opacity: 0; }
#scene8 .chinese:nth-child(3), #scene9 .chinese:nth-child(3) {
  right: 230px;
  bottom: 38px;
  opacity: 0; }
#scene8 .shade, #scene9 .shade {
  background-color: #D7CCC8;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  z-index: 300; }
#scene8 .circle, #scene9 .circle {
  background-color: #8D6E63;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px; }
#scene8 .circle-ctn, #scene9 .circle-ctn {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 430px;
  height: 430px;
  z-index: 600; }
#scene8 .money, #scene9 .money {
  background: url("../resource/dollar.png") no-repeat;
  position: absolute;
  background-size: 520px 220px;
  background-position: 38% 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 155px;
  height: 155px;
  z-index: 600; }
#scene8 .flat-money, #scene9 .flat-money {
  background: url("../resource/dollar_top.png") no-repeat;
  background-size: 338px 123px;
  background-position: 50%;
  opacity: 1;
  width: 1024px;
  height: 576px; }
#scene8 .bottom, #scene9 .bottom {
  background: url("../resource/dollar_bottom.png") no-repeat;
  position: absolute;
  background-size: 520px 220px;
  background-position: 38% 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 155px;
  height: 155px;
  z-index: 600; }

#scene10 {
  background: rgba(140, 110, 99, 0.8); }
  #scene10 .left-ctn {
    position: absolute;
    width: 235.008px;
    height: 241.92px;
    top: 200px;
    left: 195px;
    margin: auto; }
  #scene10 .right-ctn {
    position: absolute;
    width: 235.008px;
    height: 241.92px;
    top: 200px;
    left: 600px;
    margin: auto; }
  #scene10 .bag {
    position: absolute;
    background: url("../resource/shoppingbag.png");
    width: 195.84px;
    height: 201.6px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-size: 100% 100%; }
  #scene10 .bag-left-sm {
    width: 97.92px;
    height: 100.8px;
    left: 117.504px;
    top: 120.96px; }
  #scene10 .bag-left-bg {
    width: 195.84px;
    height: 201.6px; }
  #scene10 .bag-right {
    width: 137.088px;
    height: 141.12px; }
  #scene10 .happy {
    position: absolute;
    top: 204.8px;
    width: 207.36px;
    height: 311.04px;
    background: url("../resource/happy.png");
    background-size: 100% 100%; }
  #scene10 .banner {
    position: absolute;
    font-size: 3em;
    color: rgba(255, 255, 255, 0.9);
    border: 3px dotted;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    top: 50px;
    left: 0;
    right: 0;
    bottom: auto;
    width: 819.2px;
    height: 115.2px;
    margin: auto;
    text-align: center;
    line-height: 2.5em;
    opacity: 0; }

#scene11 .bg11 {
  position: relative;
  width: 100%;
  height: 100%;
  background: #BBBBBB; }
#scene11 .canadian {
  position: absolute;
  top: 115.2px;
  width: 207.36px;
  height: 311.04px;
  background: url("../resource/canadian0.png");
  background-size: 100% 100%; }
#scene11 .canadian.umbrella {
  background: url("../resource/canadian1.png");
  background-size: 100% 100%; }
#scene11 .canadian.lovechina {
  background: url("../resource/canadian2.png");
  background-size: 100% 100%; }
#scene11 .canadian.k0 {
  background: url("../resource/KoreanG.png");
  background-size: 100% 100%; }
#scene11 .canadian.k1 {
  background: url("../resource/KoreanB.png");
  background-size: 100% 100%; }
#scene11 .canadian.k2 {
  background: url("../resource/KoreanR.png");
  background-size: 100% 100%; }
#scene11 .question {
  position: absolute;
  top: 12%;
  width: 207.36px;
  height: 207.36px;
  font-size: 50px;
  text-align: center;
  opacity: 0; }
#scene11 .question.q0 > p {
  color: #26a69a;
  -moz-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg); }
#scene11 .question.q1 > p {
  color: #9fa8c6;
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg); }
#scene11 .question.q2 > p {
  color: #e57373;
  -moz-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg); }
#scene11 #cana00, #scene11 #cana01, #scene11 #k0, #scene11 #q0 {
  left: 15%; }
#scene11 #cana20, #scene11 #cana21, #scene11 #k2, #scene11 #q2 {
  right: 15%; }
#scene11 #cana10, #scene11 #cana11, #scene11 #k1, #scene11 #q1 {
  left: 40%;
  right: 40%;
  margin: auto; }
#scene11 #cana01, #scene11 #cana11, #scene11 #cana21, #scene11 #k1, #scene11 #k2, #scene11 #k0 {
  -moz-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg); }

#scene12 video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
#scene12 .bg11 {
  z-index: 1203; }

#scene13 .gate-ctn, #scene14 .gate-ctn {
  z-index: 1410; }
#scene13 .gate-ctn .up, #scene14 .gate-ctn .up {
  background: #896558; }
#scene13 .gate-ctn .building, #scene14 .gate-ctn .building {
  padding-bottom: 345.6px; }
#scene13 .boat.shadow, #scene14 .boat.shadow {
  top: 20%; }
#scene13 .marco, #scene14 .marco {
  width: 172.8px;
  height: 259.2px; }
#scene13 .marco.shadow, #scene14 .marco.shadow {
  position: absolute;
  left: -172.8px;
  top: 374.4px;
  z-index: 1411; }
#scene13 .marco.body, #scene14 .marco.body {
  left: -3px; }

#scene14 .map-ctn, #scene15 .map-ctn, #scene16 .map-ctn {
  z-index: 1400; }
#scene14 .map-ctn svg, #scene15 .map-ctn svg, #scene16 .map-ctn svg {
  position: absolute;
  z-index: 1405; }
#scene14 .map-ctn, #scene14 .map, #scene15 .map-ctn, #scene15 .map, #scene16 .map-ctn, #scene16 .map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
#scene14 .map-ctn, #scene15 .map-ctn, #scene16 .map-ctn {
  background: #d7ccc8; }
#scene14 .map img, #scene15 .map img, #scene16 .map img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 62.7%;
  height: 81.2%; }
#scene14 .point, #scene15 .point, #scene16 .point {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #a0a8c6;
  z-index: 1406; }
#scene14 .p0, #scene15 .p0, #scene16 .p0 {
  left: 20.3%;
  top: 46.1%; }
#scene14 .p1, #scene15 .p1, #scene16 .p1 {
  left: 38.2%;
  top: 43.44%; }
#scene14 .p2, #scene15 .p2, #scene16 .p2 {
  left: 61%;
  top: 36.6%; }
#scene14 .p3, #scene15 .p3, #scene16 .p3 {
  left: 45.61%;
  top: 75.11%; }
#scene14 .p4, #scene15 .p4, #scene16 .p4 {
  left: 64%;
  top: 61.04%; }
#scene14 .p5, #scene15 .p5, #scene16 .p5 {
  left: 63.22%;
  top: 74.93%; }
#scene14 .mark, #scene15 .mark, #scene16 .mark {
  position: absolute;
  background: #00a3b8;
  width: 69.12px;
  height: 69.12px;
  border-radius: 50%;
  z-index: 1406;
  opacity: 0; }
#scene14 .mark img, #scene15 .mark img, #scene16 .mark img {
  width: 100%;
  height: 100%; }
#scene14 .m0, #scene15 .m0, #scene16 .m0 {
  left: 1.58%;
  top: 29.26%;
  width: 345.6px;
  height: 345.6px; }
#scene14 .m1, #scene15 .m1, #scene16 .m1 {
  left: 39.7%;
  top: 44.4%; }
#scene14 .m2, #scene15 .m2, #scene16 .m2 {
  left: 56.5%;
  top: 50.25%; }
#scene14 .m3, #scene15 .m3, #scene16 .m3 {
  left: 50.15%;
  top: 61.33%; }

#scene15 .big-svg, #scene16 .big-svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 960px;
  height: 533.376px;
  overflow: visible;
  z-index: 1500; }
#scene15 .point.p1, #scene16 .point.p1 {
  z-index: 1501; }
#scene15 .count, #scene16 .count {
  position: absolute;
  left: 77%;
  top: 2.5%;
  font-size: 70;
  font-style: italic;
  opacity: 0; }
#scene15 .svg-bg, #scene16 .svg-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8d6e63; }

#scene16, #scene17 {
  background: #D7CCC8; }
  #scene16 .point, #scene17 .point {
    overflow: visible; }
  #scene16 .point svg, #scene17 .point svg {
    position: absolute;
    width: 200%;
    height: 200%;
    margin: -50%; }
  #scene16 .wifi, #scene17 .wifi {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; }
  #scene16 .wifi.w0, #scene17 .wifi.w0 {
    background: url("../resource/wifi1_light.png");
    background-size: 100% 100%; }
  #scene16 .wifi.w1, #scene17 .wifi.w1 {
    background: url("../resource/wifi2_light.png");
    background-size: 100% 100%; }
  #scene16 .wifi.w2, #scene17 .wifi.w2 {
    background: url("../resource/wifi3_light.png");
    background-size: 100% 100%; }
  #scene16 .wifi.w3, #scene17 .wifi.w3 {
    background: url("../resource/wifi1_dark.png");
    background-size: 100% 100%; }
  #scene16 .wifi.w4, #scene17 .wifi.w4 {
    background: url("../resource/wifi2_dark.png");
    background-size: 100% 100%; }
  #scene16 .wifi.w5, #scene17 .wifi.w5 {
    background: url("../resource/wifi3_dark.png");
    background-size: 100% 100%; }
  #scene16 .count.delta, #scene17 .count.delta {
    color: #FF9e80;
    left: 67%;
    top: 40%;
    opacity: 0; }
  #scene16 .g-browser, #scene17 .g-browser {
    position: absolute;
    width: 70%;
    height: 81.68%;
    left: 15%;
    top: 8%;
    background: url("../resource/browstab.png");
    background-size: 100% 100%;
    opacity: 0; }
  #scene16 .logo, #scene17 .logo {
    position: absolute;
    width: 57.7%;
    height: 35.16%;
    left: 21%;
    top: 30%;
    background: url("../resource/googlelogowithshadow.png");
    background-size: 100% 100%; }
  #scene16 .searchbar, #scene17 .searchbar {
    position: absolute;
    left: 10%;
    top: 70%;
    width: 80.77%;
    height: 16.85%;
    background: url("../resource/searchbarwithshadow.png");
    background-size: 100% 100%; }
  #scene16 .progress, #scene17 .progress {
    position: absolute;
    top: 20%;
    left: 2.7%;
    width: 43%;
    height: 60%;
    background: url("../resource/progressbar.png");
    background-size: auto 100%; }
  #scene16 .searchbar .count.delta, #scene17 .searchbar .count.delta {
    top: 14%;
    left: 50%;
    opacity: 1;
    font-size: 41px; }

#scene17 .phone {
  position: absolute;
  left: 0;
  right: 0;
  width: 23.9%;
  height: 81.7%;
  margin: auto;
  background: url("../resource/nexuswithshadow.png");
  background-size: 100% 100%;
  opacity: 0; }
#scene17 .home {
  position: absolute;
  left: 0;
  right: 2%;
  top: 84%;
  width: 15%;
  height: 7.79%;
  margin: auto;
  border: solid #a0a0d0 1px;
  border-radius: 50%;
  background: #e0e0e0; }
#scene17 .progress-ctn {
  position: absolute;
  left: 0;
  right: 2%;
  top: 55%;
  width: 70%;
  height: 7%;
  margin: auto;
  background: #8b9498; }
#scene17 .progress.p16 {
  left: 0;
  top: 0;
  height: 100%;
  width: 48%; }
#scene17 .progress-shade {
  position: absolute;
  right: 0;
  height: 100%;
  width: 84%;
  background: #8b9498; }
#scene17 .count.delta {
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  text-align: center;
  font-size: 50px;
  font-style: italic;
  opacity: 1; }

#scene18 video {
  width: 100%;
  height: 100%; }
#scene18 .shade-s18 {
  position: absolute;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 768px;
  opacity: 0; }
#scene18 .shade-s18.s0 {
  position: absolute;
  left: -371.2px;
  top: -595.2px;
  width: 230.4px;
  height: 230.4px; }
#scene18 .tag-s18 {
  position: absolute;
  width: 144px;
  height: 172.8px;
  padding: 10px 10px 10px 10px;
  color: white;
  opacity: 0; }
#scene18 .tag-s18.blue {
  top: 100%;
  left: 15%;
  background: url("../resource/tag_blue.png");
  background-size: 100% 100%;
  padding-top: 28.8px; }
#scene18 .tag-s18.red {
  top: 62%;
  left: 69%;
  padding: 10px 10px 10px 10px;
  background: url("../resource/tag_red.png");
  background-size: 100% 100%;
  padding-top: 28.8px; }
#scene18 .tag-s18.yellow {
  left: 74%;
  top: -3.5%;
  width: 172.8px;
  height: 144px;
  padding: 10px 10px 10px 10px;
  background: url("../resource/tag_yellow.png");
  background-size: 100% 100%;
  padding-left: 28.8px; }
#scene18 .tag-s18 > .ingredients {
  border-bottom: 1px white solid;
  margin: 20px;
  text-align: center; }
#scene18 .tag-s18 > p {
  margin: 0px 20px; }
#scene18 .svg0 {
  position: absolute;
  left: 35.5%;
  top: 11.5%;
  width: 374.4px;
  height: 374.4px; }
#scene18 .shade-s18.s1 {
  position: absolute;
  left: -371.2px;
  top: -710.4px;
  width: 230.4px;
  height: 230.4px; }
#scene18 .svg1 {
  position: absolute;
  left: 35%;
  top: -10%;
  width: 460.8px;
  height: 460.8px; }
#scene18 .shade-ctn {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden; }
#scene18 .shade-ctn.s2 {
  left: 0; }
#scene18 .shade-ctn.s3 {
  right: 0; }
#scene18 .shade-ctn.s2 .shade-s18 {
  top: -480px;
  left: -595.2px;
  width: 259.2px;
  height: 259.2px; }
#scene18 .svg2 {
  position: absolute;
  left: 13%;
  top: 43.3%;
  width: 345.6px;
  height: 345.6px; }
#scene18 .shade-ctn.s3 .shade-s18 {
  top: -768px;
  left: -710.4px;
  width: 230.4px;
  height: 230.4px; }
#scene18 .svg3 {
  position: absolute;
  left: 55%;
  top: -5%;
  width: 288px;
  height: 288px; }

#scene19, #scene20, #scene22 {
  background: #bbb; }

#scene19 {
  z-index: 1900; }
  #scene19 .west-food {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 409.6px;
    height: 409.6px;
    background: url("../resource/west_food.png");
    background-size: 100% 100%;
    -moz-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }
  #scene19 .chn-food {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 655.36px;
    height: 368.64px;
    background: url("../resource/chn_food.png");
    background-size: 100% 100%;
    overflow: visible;
    -moz-transform: translate3d(150%, -50%, 0);
    -o-transform: translate3d(150%, -50%, 0);
    -ms-transform: translate3d(150%, -50%, 0);
    -webkit-transform: translate3d(150%, -50%, 0);
    transform: translate3d(150%, -50%, 0); }
  #scene19 .mid-line {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 11.52px;
    height: 518.4px;
    border-left: solid #37474f 11.52px;
    -moz-transform: translate3d(-50%, -50%, 0) rotate(5deg);
    -o-transform: translate3d(-50%, -50%, 0) rotate(5deg);
    -ms-transform: translate3d(-50%, -50%, 0) rotate(5deg);
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(5deg);
    transform: translate3d(-50%, -50%, 0) rotate(5deg); }

#scene20 .lung-tab {
  margin: 10% auto auto auto;
  width: 230.4px;
  height: 115.2px;
  overflow: visible;
  background: url("../resource/lung_tab.png");
  background-size: 100% 100%;
  opacity: 0;
  -moz-transform: translate3d(0, -200%, 0);
  -o-transform: translate3d(0, -200%, 0);
  -ms-transform: translate3d(0, -200%, 0);
  -webkit-transform: translate3d(0, -200%, 0);
  transform: translate3d(0, -200%, 0); }
#scene20 .lung-plate {
  position: absolute;
  width: 170%;
  height: 340%;
  margin: 15% -35% auto -35%;
  background: url("../resource/plate.png");
  background-size: 100% 100%; }
#scene20 .lung-f {
  position: absolute;
  top: 30%;
  width: 50%;
  height: 50%;
  background: url("../resource/lung_f.png");
  background-size: 100% 100%;
  -moz-transform: translate3d(0, -300%, 0);
  -o-transform: translate3d(0, -300%, 0);
  -ms-transform: translate3d(0, -300%, 0);
  -webkit-transform: translate3d(0, -300%, 0);
  transform: translate3d(0, -300%, 0); }
#scene20 .lung-m {
  position: absolute;
  top: 20%;
  right: 7%;
  width: 50%;
  height: 50%;
  background: url("../resource/lung_m.png");
  background-size: 100% 100%;
  -moz-transform: translate3d(0, -300%, 0);
  -o-transform: translate3d(0, -300%, 0);
  -ms-transform: translate3d(0, -300%, 0);
  -webkit-transform: translate3d(0, -300%, 0);
  transform: translate3d(0, -300%, 0); }

#scene22 .page {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1024px;
  height: 576px;
  -moz-transform: translate3d(-40%, -55%, 0) scale(1.5, 1.5);
  -o-transform: translate3d(-40%, -55%, 0) scale(1.5, 1.5);
  -ms-transform: translate3d(-40%, -55%, 0) scale(1.5, 1.5);
  -webkit-transform: translate3d(-40%, -55%, 0) scale(1.5, 1.5);
  transform: translate3d(-40%, -55%, 0) scale(1.5, 1.5); }
#scene22 .person-ctn-old {
  position: relative;
  float: left;
  width: 15%;
  padding-top: 15%;
  margin: 1% 2.5%;
  border-radius: 50%;
  opacity: 0;
  background: #21a397;
  box-shadow: -6px -6px 6px #222;
  overflow: hidden; }
#scene22 .person-ctn {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  opacity: 0;
  background: #21a397;
  box-shadow: -6px -6px 6px #222;
  overflow: hidden; }
#scene22 .person {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background: url("../resource/marco2.png");
  background-size: 120% 180%;
  background-position: center 0%; }
#scene22 .p1 {
  background: url("../resource/marco1.png");
  background-size: 120% 180%;
  background-position: center 0%; }
#scene22 .p2 {
  background: url("../resource/chinese.png");
  background-size: 120% 180%;
  background-position: center 0%; }
#scene22 .p3 {
  background: url("../resource/canadian2.png");
  background-size: 120% 180%;
  background-position: center 0%; }
#scene22 .p4 {
  background: url("../resource/KoreanB.png");
  background-size: 120% 180%;
  background-position: center 0%; }
#scene22 .p9 {
  background: url("../resource/paperman.png");
  background-size: 120% 180%;
  background-position: center 0%; }
#scene22 .p8 {
  background: url("../resource/marco1.png");
  background-size: 120% 180%;
  background-position: center 0%; }
#scene22 .p7 {
  background: url("../resource/marco2.png");
  background-size: 120% 180%;
  background-position: center 0%; }
#scene22 .p6 {
  background: url("../resource/canadian1.png");
  background-size: 120% 180%;
  background-position: center 0%; }
#scene22 .p5 {
  background: url("../resource/KoreanG.png");
  background-size: 120% 180%;
  background-position: center 0%; }
#scene22 .p10 {
  background: url("../resource/marco2.png");
  background-size: 120% 180%;
  background-position: center 0%; }
#scene22 .p11 {
  background: url("../resource/marco1.png");
  background-size: 120% 180%;
  background-position: center 0%; }
#scene22 .p12 {
  background: url("../resource/chinese_smile.png");
  background-size: 120% 180%;
  background-position: center 0%; }
#scene22 .p13 {
  background: url("../resource/canadian2.png");
  background-size: 120% 180%;
  background-position: center 0%; }
#scene22 .p14 {
  background: url("../resource/KoreanR.png");
  background-size: 120% 180%;
  background-position: center 0%; }
#scene22 .g-svg-ctn {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
  opacity: 0;
  -moz-transform: translate3d(-59.3%, -46.95%, 0);
  -o-transform: translate3d(-59.3%, -46.95%, 0);
  -ms-transform: translate3d(-59.3%, -46.95%, 0);
  -webkit-transform: translate3d(-59.3%, -46.95%, 0);
  transform: translate3d(-59.3%, -46.95%, 0); }
#scene22 .g-ctn {
  position: absolute;
  left: 40%;
  top: 32%;
  width: 20%;
  padding-top: 20%;
  border-radius: 50%;
  background: #00bcd4;
  box-shadow: -6px -6px 6px #222;
  overflow: hidden;
  opacity: 0; }
#scene22 .g-half {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: #bdbdbd; }
#scene22 .g-ctn > p, #scene22 .g-bg > p {
  position: absolute;
  left: 50%;
  top: 40%;
  font-size: 220;
  text-align: center;
  color: white;
  font-family: times;
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }
#scene22 .g-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #00bcd4; }
#scene22 .g-layer.l0 {
  background: #bdbdbd; }
#scene22 .g-layer.l1 {
  -moz-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg); }
#scene22 .g-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #64a7F7;
  opacity: 0; }
#scene22 .g-bg > p {
  left: 50%;
  top: 45%; }

/*# sourceMappingURL=scenes.css.map */
