/* mixins */
/* Common settings */
#scene-1 {
  z-index: 10; }

#scene-2 {
  z-index: 20; }

#scene-3 {
  z-index: 30; }

#scene-4 {
  z-index: 40; }

#scene-5 {
  z-index: 50; }

#scene-6 {
  z-index: 60; }

#scene-7 {
  z-index: 70; }

#scene-8 {
  z-index: 80; }

#scene-9 {
  z-index: 90; }

#scene-10 {
  z-index: 100; }

#scene-11 {
  z-index: 110; }

#scene-12 {
  z-index: 120; }

#scene-13 {
  z-index: 130; }

#scene-14 {
  z-index: 140; }

#scene-15 {
  z-index: 150; }

#scene-16 {
  z-index: 160; }

#scene-17 {
  z-index: 170; }

#scene-18 {
  z-index: 180; }

#scene-19 {
  z-index: 190; }

#scene-20 {
  z-index: 200; }

#scene-21 {
  z-index: 210; }

#scene-22 {
  z-index: 220; }

#scene-23 {
  z-index: 230; }

#scene-24 {
  z-index: 240; }

#scene-25 {
  z-index: 250; }

#scene-26 {
  z-index: 260; }

#scene-27 {
  z-index: 270; }

#scene-28 {
  z-index: 280; }

#scene-29 {
  z-index: 290; }

#scene-30 {
  z-index: 300; }

.hide {
  opacity: 0; }

.display {
  opacity: 1; }

.close {
  display: none; }

.open {
  display: block; }

.center {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto auto; }

.origin {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.rot-10 {
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg); }

.z-top {
  z-index: 999; }

.y30 {
  -moz-transform: translate3d(0, 30px, 0);
  -o-transform: translate3d(0, 30px, 0);
  -ms-transform: translate3d(0, 30px, 0);
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0); }

.wait,
.active {
  display: block; }

.anime-short {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.scale-3 {
  -moz-transform: scale(0.33, 0.33);
  -o-transform: scale(0.33, 0.33);
  -ms-transform: scale(0.33, 0.33);
  -webkit-transform: scale(0.33, 0.33);
  transform: scale(0.33, 0.33); }

.full-y {
  top: 0px;
  bottom: 0px; }

/*
@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}
// translate
@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}
 // translate3d
@mixin translate3d ($x, $y, $z) {
	 @include transform(translate3d($x, $y, $z));
}
*/
@font-face {
  font-family: Hiragino;
  src: url("../resource/HiraginoSansGBW3.otf") format("opentype"); }
.container {
  position: absolute;
  left: 50%;
  width: 1024px;
  height: 576px;
  margin: 0px;
  border: 1px solid #000;
  overflow: hidden;
  font-family: Georgia-italic,Hiragino,SimHei; }

.scene {
  position: absolute;
  left: 0;
  right: 0;
  width: 1024px;
  height: 576px;
  border: 1px solid #F00;
  overflow: hidden;
  background: #8d6e63; }

.shade {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0; }

/* scene1 */
.places {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 1152px; }

.building-ctn {
  position: relative;
  height: 576px; }

.bridge-ctn .down {
  background-color: #bdbdbd; }

.gate-ctn .up {
  background-color: #D7CCC8; }

.gate-ctn .down {
  background: #D7CCC8; }

.up {
  position: absolute;
  background-color: #bdbdbd;
  top: 0;
  height: 230.4px;
  width: 1024px; }

.down {
  position: absolute;
  bottom: 0;
  height: 345.6px;
  width: 1024px; }

.year {
  position: absolute;
  left: 34.56px;
  top: 34.56px;
  height: 69.12px; }

.building {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 45%;
  -moz-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0); }

.building img {
  max-width: 100%; }

.marco {
  width: 103.68px;
  height: 155.52px;
  background: url("../resource/marco1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.marco.shadow {
  background: url("../resource/marco1_shadow.png");
  background-size: 100% 100%; }

.marco.tourist {
  background: url("../resource/marco2.png");
  background-size: 100% 100%; }

.marco.tourist.shadow {
  background: url("../resource/marco2_shadow.png");
  background-size: 100% 100%; }

.boat {
  position: absolute;
  width: 311.04px;
  height: 155.52px;
  background: url("../resource/boat.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 121; }

.boat.shadow {
  background: url("../resource/boat_shadow.png");
  background-size: 100% 100%; }

.oar {
  width: 60%;
  height: 90%;
  margin: auto;
  background: url("../resource/oar.png");
  background-size: 100% 100%; }

.marco.scene-top {
  position: absolute;
  top: -18%; }

.boat.scene-top {
  top: -15%; }

/**
 * scene2 
 */
.shade-scene2 {
  width: 100%;
  height: 100%;
  background: #795548; }

.papermans {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #795548;
  overflow: hidden; }

.papermans:after {
  clear: both; }

.paperman {
  width: 103.68px;
  height: 155.52px;
  margin: 0px 0px;
  float: left;
  -webikit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear; }

.greyman {
  background: url("../resource/paperman.png");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.paperman-line {
  position: relative;
  left: -25.92px;
  top: 103.68px;
  height: 155.52px;
  width: 120%;
  margin-top: -77.76px;
  overflow: hidden; }

.l1 {
  position: relative;
  left: 25.92px; }

.half {
  position: absolute;
  top: 0px;
  width: 50%;
  height: 100%; }

.subway {
  position: absolute;
  left: -512px;
  top: -345.6px; }

.subway-up {
  position: relative;
  height: 403.2px;
  width: 100%;
  background: white; }

.subway-text-ctn {
  position: relative;
  width: 1740.8px;
  height: 288px;
  margin: auto;
  color: #795548;
  font-size: 80;
  text-align: center; }

.subway-year {
  position: absolute;
  bottom: 57.6px;
  font-size: 160; }

.subway-popu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 57.6px; }

.subway-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 5.76px; }

.subway-head {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 115.2px;
  background: #eee;
  border-top: solid 10px #aaa;
  border-bottom: solid 10px #aaa; }

.subway-down {
  position: relative;
  height: 748.8px;
  width: 2048px; }

.subway-left {
  position: absolute;
  left: 0;
  width: 512px;
  height: 898.56px;
  background: url("../resource/subwayl.png");
  background-size: 100% 110%; }

.subway-right {
  position: absolute;
  right: 0;
  width: 512px;
  height: 898.56px;
  background: url("../resource/subwayr.png");
  background-size: 100% 110%; }

.subway-shadow {
  width: 561.152px;
  height: 1041.13152px;
  margin: -26.35776px -24.576px;
  background: url("../resource/subway_shadow.png");
  background-size: 100% 100%;
  background-position: center; }

.subway-block {
  position: absolute;
  width: 512px;
  height: 748.8px;
  background: url("../resource/subway.png");
  background-size: 100% 132%; }

.subway-block.left {
  left: 0; }

.subway-block.right {
  right: 0; }

/* scene5 */
.shade-youtube img {
  position: absolute;
  left: 10px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  height: 12%; }

.shade-youtube {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: black; }

.loading {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 220px;
  height: 220px; }

.ctn-browser {
  position: absolute;
  top: -172.8px;
  left: -409.6px;
  width: 2560px;
  height: 1440px;
  border: solid 1px #aaa; }

.ctn-browser-in {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.topbar {
  position: relative;
  top: 0;
  margin: auto auto;
  width: 100%;
  height: 115.2px; }

.youtubebar_l {
  position: absolute;
  left: 0;
  width: 164.57143px;
  height: 115.2px;
  background: url("../resource/youtubebar_l.png");
  background-size: 100% 100%; }

.youtubebar_m {
  margin: 0 164.57143px;
  height: 115.2px;
  background: url("../resource/youtubebar_m.png");
  background-size: 100% 100%; }

.youtubebar_r {
  position: absolute;
  right: 0;
  width: 164.57143px;
  height: 115.2px;
  background: url("../resource/youtubebar_r.png");
  background-size: 100% 100%; }

.tag {
  position: absolute;
  top: -138.24px;
  left: 460.8px;
  height: 138.24px;
  width: 311.04px;
  background: url("../resource/tag.png");
  background-size: 100% 100%; }

.browser {
  position: absolute;
  top: -57.6px;
  width: 1856px;
  height: 100%;
  margin: 0 379.6px;
  border-radius: 57.6px;
  overflow: hidden;
  background: #e0e0e0; }

.browser-content {
  position: absolute;
  left: 30px;
  right: 30px;
  top: 172.8px;
  bottom: 0;
  overflow: hidden; }

.browser-left {
  position: absolute;
  left: 0;
  top: 57.6px;
  width: 1024px;
  height: 100%;
  margin: auto auto;
  padding: 633.6px 0 0 0; }

.browser-right {
  position: absolute;
  left: 1084px;
  top: 57.6px;
  right: 0;
  height: 100%;
  margin: auto auto; }

.youtube {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 576px;
  margin: auto auto;
  overflow: hidden; }

.like-bar {
  position: relative;
  width: 100%;
  height: 172.8px;
  background: url("../resource/board_like.png");
  background-size: 100% 100%; }

.like {
  position: absolute;
  right: 30%;
  top: 40.32px;
  width: 92.16px;
  height: 92.16px;
  opacity: 0;
  background: url("../resource/like.png");
  background-size: 100% 100%; }

.like-text {
  position: relative;
  left: 86.4px;
  height: 172.8px;
  color: #26A69a;
  font-size: 100px; }

.dot {
  position: relative;
  left: 57.6px;
  float: left;
  width: 17.28px;
  height: 17.28px;
  margin: 77.76px 20.16px;
  border-radius: 50%;
  background: black; }

.comment-ctn {
  height: 28.8px;
  overflow: hidden; }

.comments {
  width: 1024px;
  padding: 115.2px 0;
  background: url("../resource/comment_list.png");
  background-size: 100% 100%; }

.comment {
  position: relative;
  height: 230.4px;
  width: 90%;
  margin: 10px auto; }

.comment-head {
  position: absolute;
  width: 172.8px;
  height: 172.8px;
  margin: 28.8px;
  background: url("../resource/comment_head.png");
  background-size: 100% 100%; }

.comment-content {
  position: relative;
  top: 28.8px;
  width: 614.4px;
  height: 115.2px;
  margin: 17.28px 17.28px 17.28px 201.6px;
  padding: 40.32px;
  border-radius: 17.28px;
  background: url("../resource/comment_bubble.png");
  background-size: 100% 100%; }

.comment .dash {
  height: 17.28px;
  width: 563.2px;
  margin: 17.28px 0; }

.ctn-video {
  position: absolute;
  height: 259.2px;
  width: 90%;
  margin: 0px auto; }

.video {
  position: absolute;
  width: 345.6px;
  height: 259.2px;
  background: url("../resource/board_video.png");
  background-size: 100% 100%; }

.video .img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 230.4px;
  height: 230.4px;
  margin: auto; }

.video .v0 {
  background: url("../resource/v0.png");
  background-size: 100% 100%; }

.video .v1 {
  background: url("../resource/v1.png");
  background-size: 100% 100%; }

.video .v2 {
  background: url("../resource/v2.png");
  background-size: 100% 100%; }

.dashes {
  height: 230.4px;
  margin: 0 0 0 334.08px;
  padding: 28.8px 0; }

.dash {
  height: 11.52px;
  background: #111;
  width: 0;
  margin: 28.8px 0; }

.page-ctn {
  position: absolute;
  left: 316.8px;
  top: 172.8px; }

.small-page {
  position: absolute;
  width: 345.6px;
  height: 230.4px;
  opacity: 0; }

.page0 {
  background: url("../resource/s6_google.png");
  background-size: 100% 100%; }

.page1 {
  background: url("../resource/s6_wheretogo.png");
  background-size: 100% 100%; }

.page2 {
  background: url("../resource/s6_booking.png");
  background-size: 100% 100%; }

.page3 {
  background: url("../resource/s6_findres.png");
  background-size: 100% 100%; }

.page4 {
  width: 518.4px;
  height: 345.6px;
  background: url("../resource/s6_air.png");
  background-size: 100% 100%; }

.body {
  position: relative;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%; }

#scene7 .comments-new, #scene8 .comments-new {
  background: #EFEBE9;
  position: absolute; }
#scene7 #browser, #scene8 #browser {
  overflow: visible; }
#scene7 .browser-content, #scene8 .browser-content {
  overflow: visible; }
#scene7 .profile-photo, #scene8 .profile-photo {
  background: url("../resource/profile.png");
  background-size: 100% 100%; }
#scene7 .worry-bubble, #scene8 .worry-bubble {
  position: absolute;
  width: 230.4px;
  height: 230.4px;
  background-size: 100% 100%; }
#scene7 .worry1, #scene8 .worry1 {
  background-image: url("../resource/worry1.png"); }
#scene7 .worry2, #scene8 .worry2 {
  background-image: url("../resource/worry2.png"); }
#scene7 .worry3, #scene8 .worry3 {
  background-image: url("../resource/worry3.png"); }
#scene7 .worry4, #scene8 .worry4 {
  background-image: url("../resource/worry4.png"); }
#scene7 .comment-ctn, #scene8 .comment-ctn {
  overflow: visible; }
#scene7 .comment-content, #scene8 .comment-content {
  font-size: 3.5em;
  text-align: center; }
  #scene7 .comment-content .worry-text, #scene8 .comment-content .worry-text {
    padding-top: 10px;
    position: absolute;
    width: 100%;
    height: 100%; }
#scene7 .bubble-disappear, #scene8 .bubble-disappear {
  position: absolute;
  width: 230.4px;
  height: 230.4px;
  background-image: url("../resource/bubble_disappear.png");
  background-size: 100% 100%; }
#scene7 .marco-shadow, #scene8 .marco-shadow {
  background: url("../resource/marco2_shadow.png");
  background-size: 100% 100%;
  background-size: 155.52px 233.28px;
  width: 155.52px;
  height: 233.28px;
  position: absolute;
  top: 310px;
  right: 170px;
  z-index: 400;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
#scene7 .marco-nomouth, #scene8 .marco-nomouth {
  background: url("../resource/marco_nomouth.png") no-repeat;
  position: absolute;
  background-size: 155.52px 233.28px;
  background-position: 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 100%;
  width: 100%; }
#scene7 #mouth, #scene8 #mouth {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 87.0912px auto; }
#scene7 .chinese, #scene8 .chinese {
  background: url("../resource/paperman.png");
  background-size: 100% 100%;
  position: absolute;
  width: 155.52px;
  height: 233.28px;
  position: absolute;
  z-index: 100; }
#scene7 .chinese:nth-child(1), #scene8 .chinese:nth-child(1) {
  right: 80px;
  bottom: 70px;
  opacity: 0; }
#scene7 .chinese:nth-child(2), #scene8 .chinese:nth-child(2) {
  right: 140px;
  bottom: 100px;
  opacity: 0; }
#scene7 .chinese:nth-child(3), #scene8 .chinese:nth-child(3) {
  right: 220px;
  bottom: 35px;
  opacity: 0; }
#scene7 .shade, #scene8 .shade {
  background-color: #D7CCC8;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  z-index: 300; }
#scene7 .circle, #scene8 .circle {
  background-color: #8D6E63;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px; }
#scene7 .circle-ctn, #scene8 .circle-ctn {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 400px;
  height: 400px;
  z-index: 600; }

#scene11 .bg11 {
  position: relative;
  width: 100%;
  height: 100%;
  background: #BBBBBB; }
#scene11 .canadian {
  position: absolute;
  top: 115.2px;
  width: 207.36px;
  height: 311.04px;
  background: url("../resource/canadian0.png");
  background-size: 100% 100%; }
#scene11 .canadian.umbrella {
  background: url("../resource/canadian1.png");
  background-size: 100% 100%; }
#scene11 .canadian.lovechina {
  background: url("../resource/canadian2.png");
  background-size: 100% 100%; }
#scene11 #cana00, #scene11 #cana01 {
  left: 15%; }
#scene11 #cana20, #scene11 #cana21 {
  right: 15%; }
#scene11 #cana10, #scene11 #cana11 {
  left: 40%;
  right: 40%;
  margin: auto; }
#scene11 #cana01, #scene11 #cana11, #scene11 #cana21 {
  -moz-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg); }

#scene12 video {
  width: 100%;
  height: 100%; }
#scene12 .bg11 {
  z-index: 1203; }

#scene13 .gate-ctn, #scene14 .gate-ctn {
  z-index: 1410; }
#scene13 .gate-ctn .up, #scene14 .gate-ctn .up {
  background: #896558; }
#scene13 .gate-ctn .building, #scene14 .gate-ctn .building {
  padding-bottom: 345.6px; }
#scene13 .boat.shadow, #scene14 .boat.shadow {
  top: 20%; }
#scene13 .marco, #scene14 .marco {
  width: 172.8px;
  height: 259.2px; }
#scene13 .marco.shadow, #scene14 .marco.shadow {
  position: absolute;
  left: -172.8px;
  top: 374.4px;
  z-index: 1411; }
#scene13 .marco.body, #scene14 .marco.body {
  left: -3px; }

#scene14 .map-ctn, #scene15 .map-ctn, #scene16 .map-ctn {
  z-index: 1400; }
#scene14 .map-ctn svg, #scene15 .map-ctn svg, #scene16 .map-ctn svg {
  position: absolute;
  z-index: 1405; }
#scene14 .map-ctn, #scene14 .map, #scene15 .map-ctn, #scene15 .map, #scene16 .map-ctn, #scene16 .map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
#scene14 .map-ctn, #scene15 .map-ctn, #scene16 .map-ctn {
  background: #d7ccc8; }
#scene14 .map img, #scene15 .map img, #scene16 .map img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 62.7%;
  height: 81.2%; }
#scene14 .point, #scene15 .point, #scene16 .point {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #a0a8c6;
  z-index: 1406; }
#scene14 .p0, #scene15 .p0, #scene16 .p0 {
  left: 20.3%;
  top: 46.1%; }
#scene14 .p1, #scene15 .p1, #scene16 .p1 {
  left: 38.2%;
  top: 43.44%; }
#scene14 .p2, #scene15 .p2, #scene16 .p2 {
  left: 61%;
  top: 36.6%; }
#scene14 .p3, #scene15 .p3, #scene16 .p3 {
  left: 45.61%;
  top: 75.11%; }
#scene14 .p4, #scene15 .p4, #scene16 .p4 {
  left: 64%;
  top: 61.04%; }
#scene14 .p5, #scene15 .p5, #scene16 .p5 {
  left: 63.22%;
  top: 74.93%; }
#scene14 .mark, #scene15 .mark, #scene16 .mark {
  position: absolute;
  background: #00a3b8;
  width: 69.12px;
  height: 69.12px;
  border-radius: 50%;
  z-index: 1406;
  opacity: 0; }
#scene14 .mark img, #scene15 .mark img, #scene16 .mark img {
  width: 100%;
  height: 100%; }
#scene14 .m0, #scene15 .m0, #scene16 .m0 {
  left: 1.58%;
  top: 29.26%;
  width: 345.6px;
  height: 345.6px; }
#scene14 .m1, #scene15 .m1, #scene16 .m1 {
  left: 39.7%;
  top: 44.4%; }
#scene14 .m2, #scene15 .m2, #scene16 .m2 {
  left: 56.5%;
  top: 50.25%; }
#scene14 .m3, #scene15 .m3, #scene16 .m3 {
  left: 50.15%;
  top: 61.33%; }

#scene15 .big-svg, #scene16 .big-svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 960px;
  height: 533.376px;
  overflow: visible;
  z-index: 1500; }
#scene15 .point.p1, #scene16 .point.p1 {
  z-index: 1501; }
#scene15 .count, #scene16 .count {
  position: absolute;
  left: 77%;
  top: 2.5%;
  font-size: 70;
  opacity: 0; }
#scene15 .svg-bg, #scene16 .svg-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8d6e63; }

#scene16, #scene17 {
  background: #D7CCC8; }
  #scene16 .point, #scene17 .point {
    overflow: visible; }
  #scene16 .point svg, #scene17 .point svg {
    position: absolute;
    width: 200%;
    height: 200%;
    margin: -50%; }
  #scene16 .wifi, #scene17 .wifi {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; }
  #scene16 .wifi.w0, #scene17 .wifi.w0 {
    background: url("../resource/wifi1_light.png");
    background-size: 100% 100%; }
  #scene16 .wifi.w1, #scene17 .wifi.w1 {
    background: url("../resource/wifi2_light.png");
    background-size: 100% 100%; }
  #scene16 .wifi.w2, #scene17 .wifi.w2 {
    background: url("../resource/wifi3_light.png");
    background-size: 100% 100%; }
  #scene16 .wifi.w3, #scene17 .wifi.w3 {
    background: url("../resource/wifi1_dark.png");
    background-size: 100% 100%; }
  #scene16 .wifi.w4, #scene17 .wifi.w4 {
    background: url("../resource/wifi2_dark.png");
    background-size: 100% 100%; }
  #scene16 .wifi.w5, #scene17 .wifi.w5 {
    background: url("../resource/wifi3_dark.png");
    background-size: 100% 100%; }
  #scene16 .count.delta, #scene17 .count.delta {
    color: #FF9e80;
    left: 67%;
    top: 40%;
    opacity: 0; }
  #scene16 .g-browser, #scene17 .g-browser {
    position: absolute;
    width: 70%;
    height: 81.68%;
    left: 15%;
    top: 8%;
    background: url("../resource/browstab.png");
    background-size: 100% 100%;
    opacity: 0; }
  #scene16 .logo, #scene17 .logo {
    position: absolute;
    width: 57.7%;
    height: 35.16%;
    left: 21%;
    top: 30%;
    background: url("../resource/googlelogowithshadow.png");
    background-size: 100% 100%; }
  #scene16 .searchbar, #scene17 .searchbar {
    position: absolute;
    left: 10%;
    top: 70%;
    width: 80.77%;
    height: 16.85%;
    background: url("../resource/searchbarwithshadow.png");
    background-size: 100% 100%; }
  #scene16 .progress, #scene17 .progress {
    position: absolute;
    top: 20%;
    left: 2.7%;
    width: 43%;
    height: 60%;
    background: url("../resource/progressbar.png");
    background-size: auto 100%; }
  #scene16 .searchbar .count.delta, #scene17 .searchbar .count.delta {
    top: 14%;
    left: 50%;
    opacity: 1;
    font-size: 41px; }

#scene17 .phone {
  position: absolute;
  left: 0;
  right: 0;
  width: 23.9%;
  height: 81.7%;
  margin: auto;
  background: url("../resource/nexuswithshadow.png");
  background-size: 100% 100%;
  opacity: 0; }
#scene17 .home {
  position: absolute;
  left: 0;
  right: 2%;
  top: 84%;
  width: 15%;
  height: 7.79%;
  margin: auto;
  border: solid #a0a0d0 1px;
  border-radius: 50%;
  background: #e0e0e0; }
#scene17 .progress-ctn {
  position: absolute;
  left: 0;
  right: 2%;
  top: 55%;
  width: 70%;
  height: 7%;
  margin: auto;
  background: #8b9498; }
#scene17 .progress.p16 {
  left: 0;
  top: 0;
  height: 100%;
  width: 48%; }
#scene17 .progress-shade {
  position: absolute;
  right: 0;
  height: 100%;
  width: 84%;
  background: #8b9498; }
#scene17 .count.delta {
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  text-align: center;
  font-size: 50px;
  opacity: 1; }

/*# sourceMappingURL=scenes.css.map */
