/* mixins */
/* Common settings */
.hide {
  opacity: 0; }

.display {
  opacity: 1; }

.close {
  display: none; }

.open {
  display: block; }

.center {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto auto; }

.origin {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.rot-10 {
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg); }

.z-top {
  z-index: 999; }

.y30 {
  -moz-transform: translate3d(0, 30px, 0);
  -o-transform: translate3d(0, 30px, 0);
  -ms-transform: translate3d(0, 30px, 0);
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0); }

.wait,
.active {
  display: block; }

.anime-short {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.scale-3 {
  -moz-transform: scale(0.33, 0.33);
  -o-transform: scale(0.33, 0.33);
  -ms-transform: scale(0.33, 0.33);
  -webkit-transform: scale(0.33, 0.33);
  transform: scale(0.33, 0.33); }

.full-y {
  top: 0px;
  bottom: 0px; }

/*
@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}
// translate
@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}
 // translate3d
@mixin translate3d ($x, $y, $z) {
	 @include transform(translate3d($x, $y, $z));
}
*/
.container {
  position: absolute;
  left: 50%;
  top: 100px;
  width: 1024px;
  height: 576px;
  margin: 0px;
  border: 1px solid #000; }

.scene {
  position: absolute;
  left: 0;
  right: 0;
  width: 1024px;
  height: 576px;
  border: 1px solid #F00;
  overflow: hidden; }

/* scene1 */
.places {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 1152px; }

.building-ctn {
  position: relative;
  height: 576px; }

.bridge-ctn .down, .gate-ctn .up {
  background: #4db6ac; }

.gate-ctn .down {
  background: #795548; }

.up {
  position: absolute;
  top: 0;
  height: 230.4px;
  width: 1024px; }

.down {
  position: absolute;
  bottom: 0;
  height: 345.6px;
  width: 1024px; }

.building {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 40%;
  -moz-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0); }

.building img {
  max-width: 100%; }

.marco {
  width: 92.16px;
  height: 138.24px;
  background: url("../resource/marco1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 999; }

.marco.tourist {
  background: url("../resource/marco2.png");
  background-size: 100% 100%; }

.boat {
  position: absolute;
  width: 276.48px;
  height: 138.24px;
  background: url("../resource/boat.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 500; }

.marco.scene-top {
  position: absolute;
  top: -18%; }

.boat.scene-top {
  top: -15%; }

/**
 * scene2 
 */
.shade-part2 {
  width: 100%;
  height: 100%;
  background: #795548; }

.papermans {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden; }

.papermans:after {
  clear: both; }

.paperman {
  width: 92.16px;
  height: 138.24px;
  margin: 0px 0px;
  float: left;
  -webikit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear; }

.greyman {
  background: url("../resource/paperman.png");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.paperman-line {
  position: relative;
  left: -69.12px;
  height: 138.24px;
  width: 120%;
  margin-top: -69.12px;
  overflow: hidden; }

.l1 {
  position: relative;
  left: -23.04px; }

.half {
  position: absolute;
  top: 0px;
  width: 50%;
  height: 100%; }

.subway {
  position: absolute;
  left: -512px;
  top: -345.6px; }

.subway-up {
  position: relative;
  height: 345.6px;
  width: 100%;
  background: white; }

.subway-head {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 115.2px;
  background: #eee;
  border-top: solid 10px #aaa;
  border-bottom: solid 10px #aaa; }

.subway-down {
  position: relative;
  height: 576px;
  width: 2048px;
  overflow: hidden; }

.subway-paperman {
  position: absolute;
  left: 512px;
  width: 1024px;
  height: 576px; }

.subway-left {
  position: absolute;
  left: 0;
  width: 512px;
  height: 576px;
  background: url("../resource/subwayl.png");
  background-size: 100% 100%; }

.subway-right {
  position: absolute;
  right: 0;
  width: 512px;
  height: 576px;
  background: url("../resource/subwayr.png");
  background-size: 100% 100%; }

.subway-block {
  position: absolute;
  width: 512px;
  height: 576px;
  background: url("../resource/subway.png");
  background-size: 100% 100%; }

.subway-block.left {
  left: 0; }

.subway-block.right {
  right: 0; }

/* part3 */
.shade-youtube img {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  height: 20%; }

.shade-youtube {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: black; }

.ctn-browser {
  position: absolute;
  top: -57.6px;
  left: -409.6px;
  width: 2560px;
  height: 1440px;
  border: solid 1px #aaa;
  background: #8d6e63;
  -webkit-transition: -webkit-transform 0.5s linear; }

.browser {
  position: absolute;
  width: 1740.8px;
  height: 100%;
  margin: 0 379.6px;
  padding: 57.6px 30px;
  overflow: hidden;
  background: #e0e0e0; }

.browser-left {
  position: absolute;
  left: 30px;
  top: 57.6px;
  width: 1084px;
  height: 100%;
  margin: auto auto; }

.browser-right {
  position: absolute;
  left: 1084px;
  right: 30px;
  height: 100%;
  margin: auto auto; }

.youtube {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 576px;
  margin: auto auto;
  overflow: hidden; }

.comments {
  position: absolute;
  top: 606px;
  width: 1024px; }

.comment {
  height: 100px;
  width: 90%;
  margin: 10px auto;
  border: solid 3px red; }

.ctn-video {
  position: relative;
  height: 230.4px;
  width: 90%;
  margin: 0px auto; }

.video {
  position: relative;
  width: 345.6px;
  height: 230.4px;
  background: url("../resource/board_video.png");
  background-size: 100% 100%; }

.video .img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 230.4px;
  height: 115.2px;
  margin: auto; }

.video .v0 {
  background: url("../resource/v0.png");
  background-size: 100% 100%; }

.video .v1 {
  background: url("../resource/v1.png");
  background-size: 100% 100%; }

.video .v2 {
  background: url("../resource/v2.png");
  background-size: 100% 100%; }

.dashes {
  position: absolute;
  left: 288px;
  border: solid 3px blue; }

/*# sourceMappingURL=scenes.css.map */
