@import 'basic';

$scene_w:1024px;
$scene_h:576px;

/*
@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}
// translate
@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}
 // translate3d
@mixin translate3d ($x, $y, $z) {
	 @include transform(translate3d($x, $y, $z));
}
*/
@font-face {
	font-family: Hiragino;
	src: url('../resource/HiraginoSansGBW3.otf') format("opentype");
}
.container{
	position: absolute;
	left: 50%;
	width:$scene_w;
	height:$scene_h;
	margin: 0px;
	border:1px solid #000;
	overflow: hidden;
	font-family: Georgia-italic,Hiragino,SimHei;
}

.scene{
	position: absolute;
	left: 0;
	right: 0;
	width: $scene_w;
	height: $scene_h;
	border: 1px solid #F00;
	overflow: hidden;
	background: #8d6e63;
}

.shade{
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0;	
}
/* scene1 */
.places{
	position: absolute;
	top: 0;
	left: 0;
	width: $scene_w;
	height: 2*$scene_h;
}
.building-ctn{
	position: relative;
	height: $scene_h;
}
.bridge-ctn .down, .gate-ctn .up{
	background: #4db6ac;
}
.gate-ctn .down{
	background: #795548;
}
.up{
	position: absolute;
	top:0;
	height: 0.4*$scene_h;
	width: $scene_w;
}
.down{
	position: absolute;
	bottom: 0;
	height: 0.6*$scene_h;	
	width: $scene_w;
}
.year{
	position: absolute;
	left: 0.06*$scene_h;
	top: 0.06*$scene_h;
	height: 0.12*$scene_h;
}
.building{
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 45%;
	@include translate3d(-50%,0,0);
}
.building img{
	max-width: 100%;
}
$man_h: 0.27*$scene_h;
$man_w: 0.18*$scene_h;
.marco{
	width: $man_w;
	height: $man_h;
	background: url("../resource/marco1.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.marco.shadow{
	background: url("../resource/marco1_shadow.png");
	background-size: 100% 100%;	
}
.marco.tourist{
	background: url("../resource/marco2.png");
	background-size: 100% 100%;
}
.marco.tourist.shadow{
	background: url("../resource/marco2_shadow.png");
	background-size: 100% 100%;		
}
.boat{
	position: absolute;
	width: 2*$man_h;
	height: $man_h;
	background: url("../resource/boat.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 121;
}
.boat.shadow{
	background: url("../resource/boat_shadow.png");
	background-size: 100% 100%;	
}
.oar{
	width:60%;
	height:90%;
	margin:auto;
	background: url("../resource/oar.png");
	background-size: 100% 100%;
}
.marco.scene-top{
	position: absolute;
	top: -18%;
}
.boat.scene-top{
	top: -15%;
}


/**
 * scene2 
 */
.shade-scene2{
	width: 100%;
	height: 100%;
	background: #795548;
}
.papermans{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #795548;
	overflow: hidden;
}
.papermans:after{
	clear: both;
}
.paperman{
	width: $man_w;
	height: $man_h;
	margin: 0px 0px;
	float:left;

	-webikit-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}

.greyman{
	background: url("../resource/paperman.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.paperman-line{
	position: relative;
	left: -$man_h/6;
	top: $man_h*2/3;

	height: $man_h;
	width: 120%;
	margin-top: -$man_h/2;
	overflow: hidden;
}
.l1{
	position: relative;
	left: $man_h/6;
}

.half{
	position: absolute;
	top: 0px;
	width: 50%;
	height: 100%;
}
.subway{
	position: absolute;
	left: -$scene_w * 0.5;
	top: -$scene_h * 0.6;
}
.subway-up{
	position: relative;
	height: $scene_h * 0.7;
	width: 100%;
	background: white;
}
.subway-text-ctn{
	position: relative;
	width: 1.7*$scene_w;
	height: 0.5*$scene_h;
	margin: auto;
	color: #795548;
	font-size: 80;
	text-align: center;
}
.subway-year{
	position: absolute;
	bottom: 0.1*$scene_h;
	font-size: 160;
}
.subway-popu{
	position: absolute;
	left:0;
	right: 0;
	bottom: 0.1*$scene_h;
}
.subway-title{
	position: absolute;
	left:0;
	right: 0;
	top: 0.01*$scene_h;
}
.subway-head{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: $scene_h * 0.2;
	background: #eee;
	border-top: solid 10px #aaa;
	border-bottom: solid 10px #aaa;
}
$subdown_h:1.3*$scene_h;
.subway-down{
	position: relative;
	height: $subdown_h;
	width: 2*$scene_w;
}

.subway-left{
	position: absolute;
	left: 0;
	width: $scene_w*0.5;
	height: 1.2*$subdown_h;
	background: url("../resource/subwayl.png");
	background-size: 100% 110%;
}
.subway-right{
	position: absolute;
	right: 0;
	width: $scene_w*0.5;
	height: 1.2*$subdown_h;
	background: url("../resource/subwayr.png");
	background-size: 100% 110%;
}
.subway-shadow{
	width: $scene_w*0.548;
	height: 1.2*1.1*9.48/9*$subdown_h;
	margin: (1.32-1.2*1.1*9.48/9)/2*$subdown_h -0.024*$scene_w;
	background:url("../resource/subway_shadow.png");
	background-size: 100% 100%;
	background-position: center;
}
.subway-block{
	position: absolute;
	width: $scene_w*0.5;
	height: $subdown_h;
	background: url("../resource/subway.png");
	background-size: 100% 132%;
}
.subway-block.left{
	left: 0;
}
.subway-block.right{
	right: 0;
}

/* scene5 */
.shade-youtube img{
	position: absolute;
	left:0px;
	right: 0px;
	top:0px;
	bottom:0px;
	margin: auto;
	height: 20%;
}
.shade-youtube{
	position: absolute;
	top:0px;
	width: 100%;
	height: 100%;
	background: black;
}
$br_padding_left:30px;
$br_padding_top :$scene_h*0.1;
.ctn-browser{
	position: absolute;
	top: -3*$br_padding_top;
	left: -0.4*$scene_w;

	width: 2.5*$scene_w;
	height: 2.5*$scene_h;
	border: solid 1px #aaa;
}
.ctn-browser-in{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.topbar{
	position: relative;
	top:0;
	margin: auto auto;
	width: 100%;
	height: 2*$br_padding_top;
}
.youtubebar_l{
	position: absolute;
	left: 0;
	width: 20*$br_padding_top/7;
	height: 2*$br_padding_top;
	background: url("../resource/youtubebar_l.png");
	background-size: 100% 100%;
}
.youtubebar_m{
	margin: 0 20*$br_padding_top/7;
	height: 2*$br_padding_top;
	background: url("../resource/youtubebar_m.png");
	background-size: 100% 100%;
}
.youtubebar_r{
	position: absolute;
	right: 0;
	width: 20*$br_padding_top/7;
	height: 2*$br_padding_top;
	background: url("../resource/youtubebar_r.png");
	background-size: 100% 100%;
}
.tag{
	position: absolute;
	top: -2.4*$br_padding_top;
	left: 0.45*$scene_w;
	height: 2.4*$br_padding_top;
	width: 5.4*$br_padding_top;
	background: url("../resource/tag.png");
	background-size: 100% 100%;
}
.browser{
	position: absolute;
	top: -1*$br_padding_top;
	width: 1.7*$scene_w + 2*$br_padding_top;
	height: 100%;
	margin: 0 0.4*$scene_w - $br_padding_left;
	border-radius: 0.1*$scene_h;
	overflow: hidden;
	background: #e0e0e0;
}
.browser-content{
	position: absolute;
	left: $br_padding_left;
	right: $br_padding_left;
	top: 3*$br_padding_top;
	bottom: 0;
	overflow: hidden;
}
.browser-left{
	position: absolute;
	left: 0;
	top: $br_padding_top;
	width: $scene_w;
	height: 100%;
	margin: auto auto;
	padding: $scene_h+$br_padding_top 0 0 0;
}
.browser-right{
	position: absolute;
	left: $scene_w + 2*$br_padding_left;
	top: $br_padding_top;
	right: 0;
	height: 100%;
	margin: auto auto;
}

.youtube{
	position: absolute;
	left: 0px;
	top: 0px;
	width: $scene_w;
	height: $scene_h;
	margin: auto auto;
	overflow: hidden;
}

.like-bar{
	position: relative;
	width: 100%;
	height: 0.3*$scene_h;

	background: url("../resource/board_like.png");
	background-size: 100% 100%;
}

.like{
	position: absolute;
	right: 30%;
	top: 0.07*$scene_h;
	width: 0.16*$scene_h;
	height: 0.16*$scene_h;
	opacity: 0;
	background: url("../resource/like.png");
	background-size: 100% 100%;
}
.like-text{
	position: relative;
	left: 0.15*$scene_h;
	height: 0.3*$scene_h;
	color: #26A69a;
	font-size: 100px;
}

.dot{
	position: relative;
	left: 0.1*$scene_h;
	float: left;
	width: 0.03*$scene_h;
	height: 0.03*$scene_h;
	margin: 0.135*$scene_h 0.035*$scene_h;
	border-radius: 50%;
	background: black;
}

.comment-ctn{
	height: 0.05*$scene_h;
	overflow: hidden;
}
.comments{
	width: $scene_w;
	padding: 0.2*$scene_h 0;
	background: url("../resource/comment_list.png");
	background-size: 100% 100%;
}
.comment{
	position: relative;
	height: 0.4*$scene_h;
	width: 90%;
	margin: 10px auto;
}
.comment-head{
	position: absolute;
	width: 0.3*$scene_h;
	height: 0.3*$scene_h;
	margin: 0.05*$scene_h;
	background: url("../resource/comment_head.png");
	background-size: 100% 100%;
}
.comment-content{
	position: relative;
	top: 0.05*$scene_h;
	width: 0.6*$scene_w;
	height: 0.2*$scene_h;
	margin: 0.03*$scene_h 0.03*$scene_h 0.03*$scene_h 0.35*$scene_h;
	padding: 0.07*$scene_h;
	border-radius: 0.03*$scene_h;
	background: url("../resource/comment_bubble.png");
	background-size: 100% 100%;
}
.comment .dash{
	height: 0.03*$scene_h;
	width: 0.55*$scene_w;
	margin: 0.03*$scene_h 0;
}
.ctn-video{
	position: absolute;
	height: 0.45*$scene_h;
	width: 90%;
	margin: 0px auto;
}

.video{
	position: absolute;
	width: 0.6*$scene_h;
	height: 0.45*$scene_h;
	background: url("../resource/board_video.png");
	background-size: 100% 100%;
}
.board{
}
.video .img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 0.4*$scene_h;
	height: 0.4*$scene_h;
	margin: auto;
}
.video .v0{
	background: url('../resource/v0.png');
	background-size: 100% 100%;
}
.video .v1{
	background: url('../resource/v1.png');
	background-size: 100% 100%; 
}
.video .v2{
	background: url('../resource/v2.png');
	background-size: 100% 100%;
}

.dashes{
	height: 0.4*$scene_h;
	margin: 0 0 0 0.58*$scene_h;
	padding: 0.05*$scene_h 0;
}

.dash{
	height: 0.02*$scene_h;
	background: #111;
	width: 0;
	margin: 0.05*$scene_h 0;
}

.page-ctn{
	position: absolute;
	left: 0.55*$scene_h;
	top: 0.3*$scene_h;
}
.small-page{
	position: absolute;
	width: 0.6*$scene_h;
	height: 0.4*$scene_h;
	opacity: 0;
}
.page0{
	background: url("../resource/s6_google.png");
	background-size: 100% 100%;
}
.page1{
	background: url("../resource/s6_wheretogo.png");
	background-size: 100% 100%;
}
.page2{
	background: url("../resource/s6_booking.png");
	background-size: 100% 100%;
}
.page3{
	background: url("../resource/s6_findres.png");
	background-size: 100% 100%;
}
.page4{
	width: 0.9*$scene_h;
	height: 0.6*$scene_h;
	background: url("../resource/s6_air.png");
	background-size: 100% 100%;
}
.body{
	position: relative;
	left: 3px;
	top: 3px;
	width: 100%;
	height: 100%;
}

#scene7 {
	.comments-new {
		background: #EFEBE9;
		position: absolute;
    }
   .profile-photo {
		background: url("../resource/profile.png");
		background-size: 100% 100%;
    }
	.worry-bubble {
		position: absolute;
		width: 0.4*$scene_h;
		height: 0.4*$scene_h;
		background-size: 100% 100%;
    }
	.worry1 {
		background-image: url("../resource/worry1.png");
    }
	.worry2 {
		background-image: url("../resource/worry2.png");
    }
	.worry3 {
		background-image: url("../resource/worry3.png");
    }
    .worry4 {
		 background-image: url("../resource/worry4.png");
    }
	.comment-ctn {
     overflow: visible;
    }
	.comment-content {
		font-size: 3.5em;
		text-align: center;
		
		.worry-text {
			padding-top: 10px;
			position: absolute;
			width: 100%;
			height: 100%;
	    }
    }
	
	// This is a failed attempt to use pscudo element to tween opacity of background image.
	// .comments {
	//	background: none;
    //}
	//.comments:after {
	//	background: url("../resource/comment_list.png");
	//	background-size: 100% 100%;
	//	position: absolute;
	//	top: -10px;
	//	left: -10px;
	//	width: 108%;
	//	height: 108%;
	//	content: " ";
	//	z-index: -1;
   // }
}
